
  <section id="about" class="w-5/6 mx-auto m-6">
    <div class="gap-8 py-8 px-4 mx-auto">
      <div class="mt-4 md:mt-0">
        <h2
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
          class="mb-4 text-4xl tracking-tight font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl pb-2 text-center"
        >
          Get to Know Me!
        </h2>
        <p
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
          class="mb-6 font-light text-gray-500 md:text-lg text-justify dark:text-gray-400 sm:text-center sm:w-5/6 w-full mx-auto"
        >
          I'm a <b class="font-bold">Mechatronics, Robotics, and Web Developer</b>. I specialize in integrating smart hardware with intuitive software solutions. Proficient in ROS, Python, and C++ for robotics, I also build seamless user interfaces using Astro, HTML, JavaScript, CSS, and Flutter. My passion lies in creating robots that intelligently interact with their environments and user-friendly web applications. Explore my projects on <a href="https://github.com/NocNoc31" class="text-blue-500 font-medium hover:underline">GitHub</a>, where I share content on robotics and web development. I'm open to job opportunities to contribute, learn, and grow—contact me to collaborate!
        </p>
      </div>
      <section class="py-10">
        <div class="container mx-auto">
          <div data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <h1
              class="text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] font-extrabold py-3 text-center"
            >
              Professional Skillset
            </h1>
            <div
              class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center hover:grayscale-0 hover:opacity-100 transition-all duration-300"
            >
              <div class="group relative">
                <svg class="fill-purple-600 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <title>Astro</title>
                  <path d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z"/>
                </svg>
                <span class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-xs text-white bg-black rounded px-1 py-0.5 opacity-0 group-hover:opacity-100 transition">
                  Astro
                </span>
              </div>

          
              <div class="group relative">
                <svg class="fill-orange-600 h-12 w-12" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                  <title>HTML</title>
                  <path d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/>
                </svg>
                <span class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-xs text-white bg-black rounded px-1 py-0.5 opacity-0 group-hover:opacity-100 transition">
                  HTML
                </span>
              </div>

              <div class="group relative">
                <svg class="fill-yellow-500 h-12 w-12" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                  <title>JavaScript</title>
                  <path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM243.8 381.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/>
                </svg>
                <span class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-xs text-white bg-black rounded px-1 py-0.5 opacity-0 group-hover:opacity-100 transition">
                  JavaScript
                </span>
              </div>


              <div class="group relative">
                <svg class="fill-blue-600 h-12 w-12" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                  <title>CSS</title>
                  <path d="M0 32l34.9 395.8L192 480l157.1-52.2L384 32H0zm313.1 80l-4.8 47.3L193 208.6l-.3.1h111.5l-12.8 146.6-98.2 28.7-98.8-29.2-6.4-73.9h48.9l3.2 38.3 52.6 13.3 54.7-15.4 3.7-61.6-166.3-.5v-.1l-.2.1-3.6-46.3L193.1 162l6.5-2.7H76.7L70.9 112h242.2z"/>
                </svg>
                <span class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-xs text-white bg-black rounded px-1 py-0.5 opacity-0 group-hover:opacity-100 transition">
                  CSS
                </span>
              </div>

              <div class="group relative">
                <svg class="fill-blue-500 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <title>Flutter</title>
                  <path d="M18.909 14.84l-8.086 8.070 8.085 8.085h9.214l-8.073-8.083 8.073-8.073h-9.212zM18.892 1.004l-15.013 14.996 4.624 4.624 19.599-19.603h-9.194z"/>
                </svg>
                <span class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-xs text-white bg-black rounded px-1 py-0.5 opacity-0 group-hover:opacity-100 transition">
                  Flutter
                </span>
              </div>

              <div class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center hover:grayscale-0 hover:opacity-100 transition-all duration-300">
                <div class="group relative">
                  <svg class="fill-green-600 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <title>ROS</title>
                    <path d="M16 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2zm0 26C9.373 26 4 20.627 4 16S9.373 6 16 6s12 5.373 12 12-5.373 12-12 12zm-1-18h2v6h6v2h-6v6h-2v-6h-6v-2h6v-6z"/>
                  </svg>
                  <span class="tooltip">ROS</span>
                </div>
                <div class="group relative">
                  <svg class="fill-blue-700 h-12 w-12" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                    <title>Python</title>
                    <path d="M439.8 200.5c-7.7-30.9-20.3-54.2-39.4-54.2-14.9 0-26.7 9.3-32.9 23.6-5.5 12.7-7.7 27.8-6.5 42.5 2.4 29.5 20.7 52.5 46.6 52.5 15.2 0 28.3-7.5 37.1-19.7 8.8-12.2 11.7-27.7 7.2-44.7zm-79.7 0c0-13.8 11.2-25 25-25s25 11.2 25 25-11.2 25-25 25-25-11.2-25-25zm-281-52.5c-6.2-14.3-18-23.6-32.9-23.6-19.1 0-31.7 23.3-39.4 54.2-4.5 17 1.7 32.5 10.5 44.7 8.8 12.2 21.9 19.7 37.1 19.7 25.9 0 44.2-23 46.6-52.5 1.2-14.7-1-29.8-6.5-42.5zm-25 25c-13.8 0-25-11.2-25-25s11.2-25 25-25 25 11.2 25 25-11.2 25-25 25zm143.7-96c-28.8 0-52.5 23.7-52.5 52.5v.5h105v-.5c0-28.8-23.7-52.5-52.5-52.5zm0-16c-38.6 0-70.5 31.9-70.5 70.5v16h141v-16c0-38.6-31.9-70.5-70.5-70.5zm0 352c28.8 0 52.5-23.7 52.5-52.5v-.5h-105v.5c0 28.8 23.7 52.5 52.5 52.5zm0 16c38.6 0 70.5-31.9 70.5-70.5v-16h-141v16c0 38.6 31.9 70.5 70.5 70.5z"/>
                  </svg>
                  <span class="tooltip">Python</span>
                </div>
                <div class="group relative">
                  <svg class="fill-purple-700 h-12 w-12" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <title>C++</title>
                    <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276h-44v44c0 6.6-5.4 12-12 12h-24c-6.6 0-12-5.4-12-12v-44h-44c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h44v-44c0-6.6 5.4-12 12-12h24c6.6 0 12 5.4 12 12v44h44c6.6 0 12 5.4 12 12v24c0 6.6-5.4 12-12 12z"/>
                  </svg>
                  <span class="tooltip">C++</span>
                </div>
                <div class="group relative">
                  <svg class="fill-blue-800 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <title>MATLAB</title>
                    <path d="M16 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2zm4.613 8.387c-1.693 0-3.24.693-4.613 1.84-1.373-1.147-2.92-1.84-4.613-1.84-2.453 0-4.613 1.387-6.067 3.467 1.387-1.467 3.24-2.373 5.28-2.373 1.693 0 3.24.693 4.613 1.84 1.373-1.147 2.92-1.84 4.613-1.84 2.04 0 3.893.906 5.28 2.373-1.454-2.08-3.614-3.467-6.067-3.467z"/>
                  </svg>
                  <span class="tooltip">MATLAB</span>
                </div>
                <div class="group relative">
                  <svg class="fill-gray-600 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <title>SolidWorks</title>
                    <path d="M16 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2zm0 26C9.373 26 4 20.627 4 16S9.373 6 16 6s12 5.373 12 12-5.373 12-12 12zm-4-16h8v4h-8v-4zm0 6h8v4h-8v-4z"/>
                  </svg>
                  <span class="tooltip">SolidWorks</span>
                </div>
                <div class="group relative">
                  <svg class="fill-red-600 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <title>Arduino</title>
                    <path d="M16 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2zm8 12h-4v-4h4v-2h-4V6h-2v2h-4v4h4v2h-4v4h4v2h-4v2h2v-2h4v-4h-4v-2h4v2h4v-2z"/>
                  </svg>
                  <span class="tooltip">Arduino</span>
                </div>
              </div>
              
              <style>
                .tooltip {
                  display: none;
                  position: absolute;
                  background-color: #333;
                  color: #fff;
                  padding: 4px 8px;
                  border-radius: 4px;
                  font-size: 12px;
                  bottom: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 10;
                  white-space: nowrap;
                }
                .group:hover .tooltip {
                  display: block;
                }
              </style>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <h1
              class="mt-8 text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] font-extrabold py-3 text-center"
            >
              Tools
            </h1>
            <div
              class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center hover:grayscale-0 hover:opacity-100 transition-all duration-300"
            >

              
              <div class="group relative">
                <svg class="fill-sky-500 h-12 w-12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <title>VS Code</title>
                  <path d="M0.228341 8.36915C0.228341 8.36915 -0.356212 7.94324 0.345251 7.37453L1.97956 5.89736C1.97956 5.89736 2.44721 5.40004 2.94164 5.83334L18.0231 17.375V22.9094C18.0231 22.9094 18.0158 23.7785 16.9124 23.6825L0.228341 8.36915Z"/>
                  <path d="M4.11555 11.9367L0.228273 15.5089C0.228273 15.5089 -0.171172 15.8093 0.228273 16.346L2.03308 18.0053C2.03308 18.0053 2.46175 18.4706 3.09502 17.9413L7.21611 14.7827L4.11555 11.9367Z"/>
                  <path d="M10.94 11.9661L18.0691 6.46362L18.0228 0.95865C18.0228 0.95865 17.7183 -0.242793 16.7027 0.382548L7.21589 9.11025L10.94 11.9661Z"/>
                  <path d="M16.9121 23.69C17.3261 24.1183 17.8279 23.978 17.8279 23.978L23.3838 21.2108C24.0951 20.7208 23.9952 20.1127 23.9952 20.1127V3.58803C23.9952 2.86175 23.2596 2.61063 23.2596 2.61063L18.4441 0.264377C17.3919 -0.392968 16.7027 0.382548 16.7027 0.382548C16.7027 0.382548 17.5892 -0.262484 18.0228 0.95865L18.0228 22.8086C18.0228 22.9588 17.9911 23.1065 17.9278 23.2394C17.8011 23.4979 17.5259 23.7392 16.8658 23.6383L16.9121 23.69Z"/>
                </svg>                </svg>
                <span class="tooltip">VS Code </span>
              </div>
            </div>

              <style>
                .tooltip {
                  display: none;
                  position: absolute;
                  background-color: #333;
                  color: #fff;
                  padding: 4px 8px;
                  border-radius: 4px;
                  font-size: 12px;
                  bottom: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 10;
                  white-space: nowrap;
                }
                .group:hover .tooltip {
                  display: block;
                }
              </style>
            </div>
          </div>
        </div>
      </section>

    </div>
  </section>
